@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.root {
  font-family: 'Roboto', serif;
}

.container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.fade-opacity {
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.fade-opacity:hover {
  opacity: 0.6;
}

.header {
  position: relative;
}

.nav-menu {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #212121;
  min-height: 50px;
}

.nav-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 98px 9px 83px;
  list-style-type: none;
}

.nav-menu__item:nth-of-type(2n) {
  border-right: black 2px dotted;
}

.nav-menu__link {
  color: #fff;
  font-size: 15px;
  line-height: 31px;
  font-weight: 300;
  text-decoration: none;
}

.nav-menu__link:hover {
  color: #fff;
}

.subheader {
  top: 50px;
  min-height: 84px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  z-index: 1;
}

.subheader__tel {
  margin-top: 23px;
  padding-right: 22px;
}

.subheader__call {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  text-align: right;
  padding-bottom: 8px;
  margin: 0;
}

.subheader__phone {
  display: block;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  color: #fff;
}

.subheader__phone:hover {
  color: #fff;
}

.logo {
  padding-top: 17px;
  min-width: 285px;
}

.logo__img {
  height: 32px;
  width: 100%;
  background: no-repeat url(../img/logo.png);
  display: block;
}

.logo__text {
  margin: 0;
  padding-top: 2px;
  opacity: .5;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.button {
  padding: 0;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: inset 0 -3px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}

.button_place_subheader {
  height: 46px;
  width: 172px;
  margin: 19px 0 0 10px;
  line-height: 15px;
}

.button_place_promo {
  display: block;
  margin: 116px auto 0;
  height: 63px;
  width: 259px;
  font-size: 18px;
  line-height: 67px;
}

.button:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg//uber_bg.jpg") center center/cover no-repeat;
  padding: 135px 0 186px;
  position: relative;
  top: 50px;
}

.promo__header {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin: 0 0 10px;
}

.promo__subheader {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0 0 21px;
}

.promo__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin: 0 0 28px;
}

.reasons {
  padding: 121px 0 65px 0;
}

.reasons__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.reasons__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}

.reason-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  padding: 0 6px 0 0;
}

.reason-block:nth-of-type(7n) {
  margin-bottom: 0;
}

.reason-block:last-of-type {
  margin-bottom: 0;
}

.reason-block__round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 50%;
}

.reason-block__description {
  width: 343px;
}

.reason-block__subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

.reason-block__text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  margin: 3px 0 0;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.jpg") center center/cover no-repeat;
}

.mobile__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.mobile__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.mobile__subtitle {
  margin: 2px 0 0 0;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.mobile-card {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile-card_bg_1 {
  background: url("../img/bg/mobile_bg_1.jpg") center center/cover no-repeat;
}

.mobile-card_bg_2 {
  background: url("../img/bg/mobile_bg_2.jpg") center center/cover no-repeat;
}

.mobile-card_bg_3 {
  background: url("../img/bg/mobile_bg_3.jpg") center center/cover no-repeat;
}

.mobile-card_bg_4 {
  background: url("../img/bg/mobile_bg_4.jpg") center center/cover no-repeat;
}

.mobile-card_bg_5 {
  background: url("../img/bg/mobile_bg_5.jpg") center center/cover no-repeat;
}

.mobile-card_bg_6 {
  background: url("../img/bg/mobile_bg_6.jpg") center center/cover no-repeat;
}

.mobile-card__subtitle {
  color: #fff;
  max-width: 289px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.mobile-card__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.mobile-card__plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile-card__plus:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile-card__plus:hover:before, .mobile-card__plus:hover:after {
  background-color: #ff5656;
}

.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/bg/mobile_bg.jpg") center center/cover no-repeat;
}

.choice__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.choice__label_theme_dark {
  z-index: 2;
  position: relative;
  background-color: #fff;
  color: #000;
}

.choice__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.choice__title_theme_dark {
  color: #fff;
  z-index: 2;
  position: relative;
  margin-top: 28px;
}

.choice__subtitle {
  margin: 2px 0 0 0;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.choice__subtitle_theme_dark {
  color: #fff;
  z-index: 2;
  position: relative;
}

.choice__image {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

.choice__description {
  text-align: center;
  color: #222;
  font-size: 17px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 7px;
}

.dark {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.require {
  padding: 68px 0 84px 0;
}

.require__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.require__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.require-block {
  margin: 33px 0 7px;
  padding: 0 30px 0 40px;
}

.require-block:nth-of-type(3n) {
  margin-bottom: 0px;
}

.require-block:last-of-type {
  margin-bottom: 0px;
}

.require-block__title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}

.require-block__title_warning {
  color: #ff5656;
}

.require-block__list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 14px;
}

.require-block__list-item {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;
}

.require-block__list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
}

.require-block__list-item_safe:before {
  background: url("../img/icons/check_blue.svg") center center/cover no-repeat;
}

.require-block__list-item_warning:before {
  background: url("../img/icons/check_red.svg") center center/cover no-repeat;
}

.require-block__description {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}

.world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/bg/world_bg.png") center center/cover no-repeat;
}

.world__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.world__label_theme_dark {
  z-index: 2;
  position: relative;
  background-color: #fff;
  color: #000;
  width: 76px;
}

.world__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 29px;
}

.world__title_theme_dark {
  color: #fff;
  z-index: 2;
  position: relative;
}

.world__subtitle {
  margin: 2px 0 0 0;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.world__subtitle_theme_dark {
  color: #fff;
  z-index: 2;
  position: relative;
}

.world__link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 22px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.world__link:hover {
  color: #fff;
}

.footer {
  padding: 14px 23px 39px 23px;
}

.footer__divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}

.social-block {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  color: #fff;
}

.social-block__link:hover {
  color: #fff;
}

.navmenu-block {
  width: 390px;
  margin: 0 auto;
}

.navmenu-block__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.navmenu-block__main-link {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.navmenu-block__main-link:hover {
  color: #070716;
}

.navmenu-block__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
}

.navmenu-block__sub-link {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.navmenu-block__sub-link:hover {
  color: #999;
}

.navmenu-block__lang {
  display: block;
  width: 60px;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.navmenu-block__lang:hover {
  color: #1fbad6;
}

.mobile-block {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-block__link {
  margin: 4px 7px 0 0;
}

@media (max-width: 1399px) {
  .nav-menu__content {
    padding-right: 73px;
  }
}

@media (max-width: 1199px) {
  .nav-menu__content {
    padding: 9px 40px 9px 50px;
  }
}

.promo {
  padding-bottom: 155px;
}

.promo__header {
  font-size: 54px;
  line-height: 54px;
}

.promo__subheader {
  font-size: 32px;
  line-height: 38px;
  max-width: 450px;
  margin: 0 auto 21px;
}

.reason-block {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 6px;
}

.reason-block__round {
  margin-bottom: 26px;
}

.mobile__subtitle {
  max-width: 500px;
  margin: 2px auto 30px;
}

.mobile-card {
  margin-bottom: 30px;
}

.social-block {
  width: 28%;
}

.mobile-block {
  width: 28%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .nav-menu__content {
    padding: 9px 0;
  }
  .nav-menu__link {
    font-size: 14px;
  }
}
/*# sourceMappingURL=index.css.map */