@import '_fonts'
@import 'variables'

.root
  font-family: 'Roboto', serif
.container
  max-width: 1166px
  margin: 0 auto
  box-sizing: border-box
  padding: 0
  &_width_1140
    max-width: 1140px
.fade-opacity
  transition: opacity 0.25s
  &:hover
    opacity: 0.6
.header
  position: relative
.nav-menu
  position: fixed
  width: 100%
  z-index: 2
  background-color: #212121
  min-height: 50px
  &__content
    display: flex
    justify-content: space-between
    padding: 9px 98px 9px 83px
    list-style-type: none
  &__item:nth-of-type(2n)
    border-right: black 2px dotted
  &__link
    color: $text-color
    font-size: 15px
    line-height: 31px
    font-weight: 300
    text-decoration: none
    &:hover
      color: $text-color
.subheader
  top: 50px
  min-height: 84px
  width: 100%
  background-color: rgba(0,0,0,.6)
  color: $text-color
  position: absolute
  z-index: 1
  &__tel
    margin-top: 23px
    padding-right: 22px
  &__call
    font-size: 12px
    line-height: 12px
    font-weight: 300
    text-align: right
    padding-bottom: 8px
    margin: 0
  &__phone
    display: block
    font-size: 22px
    line-height: 22px
    font-weight: 400
    text-transform: uppercase
    text-decoration: none
    text-align: right
    color: $text-color
    &:hover
      color: $text-color
.logo
  padding-top: 17px
  min-width: 285px
  &__img
    height: 32px
    width: 100%
    background: no-repeat url(../img/logo.png)
    display: block
  &__text
    margin: 0
    padding-top: 2px
    opacity: .5
    font-size: 13px
    font-weight: 400
    letter-spacing: -0.02em
.button
  padding: 0
  border-radius: 4px
  background: linear-gradient(0deg, $main-color 0%, #4ce2ff 100%)
  border: none
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  color: $text-color
  box-shadow: inset 0 -3px rgba(0,0,0,.12)
  text-shadow: 1px 1px rgba(0,0,0,.21)
  cursor: pointer
  &_place_subheader
    height: 46px
    width: 172px
    margin: 19px 0 0 10px
    line-height: 15px
  &_place_promo
    display: block
    margin: 116px auto 0
    height: 63px
    width: 259px
    font-size: 18px
    line-height: 67px
.promo
  min-height: 800px
  box-sizing: border-box
  background: url('../img/bg//uber_bg.jpg') center center/cover no-repeat
  padding: 135px 0 186px
  position: relative
  top: 50px
  &__header
    font-size: 60px
    line-height: 60px
    font-weight: 900
    color: $text-color
    text-align: center
    margin: 0 0 10px
  &__subheader
    font-size: 36px
    line-height: 36px
    font-weight: 700
    color: $text-color
    text-align: center
    margin: 0 0 21px
  &__text
    font-size: 18px
    font-weight: 400
    line-height: 24px
    text-align: center
    color: $text-color
    margin: 0 0 28px
.reasons
  padding: 121px 0 65px 0
  &__label
    @include section-label
  &__title
    @include section-title
    margin-bottom: 16px
.reason-block
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 26px
  padding: 0 6px 0 0
  &:nth-of-type(7n)
    margin-bottom: 0
  &:last-of-type
    margin-bottom: 0
  &__round
    display: flex
    justify-content: center
    align-items: center
    margin-right: 26px
    width: 113px
    height: 113px
    background-color: $main-color
    border-radius: 50%
  &__description
    width: 343px
  &__subtitle
    line-height: 21px
    color: $main-color
    font-size: 17px
    font-weight: 400
    margin: 0
  &__text
    color: #202020
    font-size: 15px
    font-weight: 300
    line-height: 21px
    margin: 3px 0 0
.mobile
  min-height: 864px
  padding: 48px 0 79px 0
  background: url('../img/bg/mobile_bg.jpg') center (center / cover) no-repeat
  &__label
    @include section-label
  &__title
    @include section-title
  &__subtitle
    @include section-subtitle
    margin-bottom: 30px
.mobile-card
  position: relative
  width: 320px
  height: 280px
  margin: 0 auto
  margin-bottom: 19px
  padding-top: 92px
  &_bg_1
    background: url('../img/bg/mobile_bg_1.jpg') center (center / cover) no-repeat
  &_bg_2
    background: url('../img/bg/mobile_bg_2.jpg') center (center / cover) no-repeat
  &_bg_3
    background: url('../img/bg/mobile_bg_3.jpg') center (center / cover) no-repeat
  &_bg_4
    background: url('../img/bg/mobile_bg_4.jpg') center (center / cover) no-repeat
  &_bg_5
    background: url('../img/bg/mobile_bg_5.jpg') center (center / cover) no-repeat
  &_bg_6
    background: url('../img/bg/mobile_bg_6.jpg') center (center / cover) no-repeat
  &__subtitle
    color: $text-color
    max-width: 289px
    font-size: 24px
    font-weight: 400
    line-height: 26px
    text-transform: uppercase
    text-align: center
  &__plus
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    bottom: 35px
    left: 50%
    transform: translateX(-50%)
    width: 26px
    height: 26px
    background-color: $bg-color
    margin: 0 auto
    border-radius: 100%
    cursor: pointer
