@import '_fonts'

.container
  max-width: 1140px
  margin: 0 auto
  box-sizing: border-box
.fade-opacity
  transition: opacity 0.25s
  &:hover
    opacity: 0.6
.header
  position: relative
.nav-menu
  background-color: #212121
  font-family: 'Roboto', serif
  min-height: 50px
  &__content
    display: flex
    justify-content: space-between
    padding: 8px 78px 10px 78px
    list-style-type: none
  &__item:nth-of-type(2n)
    border-right: black 2px dotted
  &__link
    color: #fff
    font-size: 15px
    line-height: 31px
    font-weight: 300
    text-decoration: none
    &:hover
      color: #fff
.subheader
  font-family: 'Roboto', serif
  min-height: 84px
  width: 100%
  background-color: rgba(0,0,0,.6)
  color: #fff
  position: absolute
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0 96px
  &__contact
    display: flex
    flex-wrap: wrap
  &__tel
    padding: 23px 33px 0 0
  &__call
    font-size: 12px
    line-height: 12px
    font-weight: 300
    text-align: right
    padding-bottom: 8px
    margin: 0
  &__phone
    display: block
    font-size: 22px
    line-height: 22px
    font-weight: 400
    text-transform: uppercase
    text-decoration: none
    text-align: right
    color: #fff
    &:hover
      color: #fff
.logo
  padding-top: 17px
  min-width: 285px
  &__img
    height: 32px
    width: 100%
    background: no-repeat url(../../../img/logo.png)
    display: block
  &__text
    margin: 0
    padding-top: 4px
    opacity: .5
    font-size: 13px
    font-weight: 400
    letter-spacing: -0.02em
.button
  padding: 0
  border-radius: 4px
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
  border: none
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  color: #fff
  box-shadow: inset 0 -3px rgba(0,0,0,.12)
  text-shadow: 1px 1px rgba(0,0,0,.21)
  cursor: pointer
  &_place_subheader
    height: 46px
    width: 172px
    margin: 19px auto 0
    line-height: 15px
  &_place_promo
    display: block
    margin: 116px auto 0
    height: 63px
    width: 259px
    font-size: 18px
    line-height: 67px
.promo
  min-height: 800px
  box-sizing: border-box
  font-family: 'Roboto', serif
  background: url('../../img/uber_bg.jpg') center center/cover no-repeat
  padding: 135px 0 186px
  &__header
    font-size: 60px
    line-height: 60px
    font-weight: 900
    color: #fff
    text-align: center
    margin: 0 0 10px
  &__subheader
    font-size: 36px
    line-height: 36px
    font-weight: 700
    color: #fff
    text-align: center
    margin: 0 0 21px
  &__text
    font-size: 18px
    font-weight: 400
    line-height: 24px
    text-align: center
    color: #fff
    margin: 0 0 28px
    padding: 0 78px
