.subheader__phone {
  display: block;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  color: #fff;
}

.subheader__phone:hover {
  color: #fff;
}
