@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.root {
  font-family: 'Roboto', serif;
}

.container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.header {
  position: relative;
}

.fade-opacity {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

@media (min-width: 576px) {
  .fade-opacity:hover {
    opacity: 0.6;
  }
}

.nav-menu {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #212121;
  min-height: 50px;
}

.nav-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 98px 9px 83px;
  list-style-type: none;
}

.nav-menu__item:nth-of-type(2n) {
  border-right: black 2px dotted;
}

.nav-menu__link {
  color: #fff;
  font-size: 15px;
  line-height: 31px;
  font-weight: 300;
  text-decoration: none;
}

.nav-menu__link:hover {
  color: #fff;
}

@media (max-width: 1399px) {
  .nav-menu__content {
    padding-right: 73px;
  }
  .logo {
    padding-left: 4px;
  }
}

@media (max-width: 1199px) {
  .nav-menu__content {
    padding: 9px 40px 9px 50px;
  }
}

@media (max-width: 991px) {
  .nav-menu__content {
    padding: 9px 0;
  }
  .nav-menu__link {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .nav-menu {
    min-height: 32px;
  }
  .nav-menu__content {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 55%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.95);
    -webkit-transition: .6s all;
    transition: .6s all;
  }
  .nav-menu__content_active {
    left: 0;
  }
  .nav-menu__item {
    margin: 8px 0;
    width: 100%;
    text-align: center;
  }
  .nav-menu__item:nth-of-type(2n) {
    display: none;
  }
  .nav-menu__link {
    padding: 10px 0;
    font-size: 20px;
    display: block;
  }
  .nav-menu__link:hover {
    color: #1eacc7;
    opacity: 1;
  }
}

@media (max-width: 575px) {
  .nav-menu__content {
    width: 75%;
  }
  .nav-menu__item {
    margin: 5px 0;
  }
  .nav-menu__link {
    padding: 5px 0;
    font-size: 16px;
  }
}

.hamburger {
  display: none;
  position: absolute;
  right: 11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 10px;
  cursor: pointer;
}

.hamburger__line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 2px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.hamburger__line_active {
  margin-bottom: -2px;
}

.hamburger__line_active:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
}

.hamburger__line_active:nth-child(2) {
  display: none;
}

.hamburger__line_active:nth-child(3) {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

.subheader {
  top: 50px;
  min-height: 84px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  z-index: 1;
}

.subheader__tel {
  margin-top: 19px;
  padding-right: 22px;
}

.subheader__call {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  text-align: right;
  padding-bottom: 8px;
  margin: 2px 0 0;
}

.subheader__phone {
  display: block;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  color: #fff;
}

.subheader__phone:hover {
  color: #fff;
}

.subheader__phone_visible {
  display: none;
}

@media (max-width: 991px) {
  .subheader__phone {
    font-size: 20px;
    line-height: 20px;
  }
  .subheader__tel {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .subheader {
    top: 32px;
  }
  .subheader__phone {
    font-size: 18px;
    line-height: 18px;
  }
  .subheader__phone_visible {
    display: block;
  }
  .subheader__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 9px;
    padding-left: 50px;
  }
  .subheader__tel_hidden {
    display: none;
  }
}

@media (max-width: 575px) {
  .subheader {
    min-height: 62px;
  }
  .subheader__phone {
    font-size: 12px;
    line-height: 12px;
  }
  .subheader__tel {
    -ms-flex-preferred-size: 130px;
        flex-basis: 130px;
    padding: 0 6px 0 0;
    margin-top: 12px;
  }
}

.logo {
  padding-top: 17px;
  min-width: 285px;
}

.logo__img {
  height: 32px;
  width: 100%;
  background: no-repeat url(../img/logo.png);
  display: block;
}

.logo__text {
  margin: 0;
  padding-top: 2px;
  opacity: .5;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

@media (max-width: 1399px) {
  .logo {
    padding-left: 4px;
  }
}

@media (max-width: 1199px) {
  .logo {
    padding-left: 56px;
  }
}

@media (max-width: 991px) {
  .logo {
    padding: 17px 0 0 10px;
    min-width: 230px;
  }
  .logo__img {
    height: 28px;
    background-size: 230px;
  }
  .logo__text {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .logo {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .logo {
    padding: 23px 0 0 16px;
    min-width: 130px;
  }
  .logo__img {
    height: 15px;
    background-size: 130px;
    margin-left: -8px;
  }
  .logo__text {
    display: none;
  }
}

.button {
  padding: 0;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: inset 0 -3px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  outline: none;
}

.button_place_subheader {
  height: 46px;
  width: 172px;
  margin: 0 0 0 10px;
  line-height: 15px;
}

.button_place_promo {
  display: block;
  margin: 116px auto 0;
  height: 63px;
  width: 259px;
  font-size: 18px;
  line-height: 67px;
}

@media (max-width: 991px) {
  .button_place_subheader {
    margin-left: 35px;
  }
  .button_place_promo {
    margin-top: 100px;
  }
}

@media (min-width: 576px) {
  .button:hover {
    background-image: none;
    background-color: #1eacc7;
  }
}

@media (max-width: 767px) {
  .button_place_subheader {
    height: 37px;
    width: 143px;
    margin: 8px 0 0;
    font-size: 13px;
    line-height: 13px;
  }
  .button_place_promo {
    margin-top: 94px;
    height: 50px;
    width: 210px;
    font-size: 16px;
    line-height: 51px;
  }
}

@media (max-width: 575px) {
  .button_place_subheader {
    margin-top: 72px;
    width: 110px;
    height: 22px;
    font-size: 10px;
    line-height: 10px;
    margin-top: 6px;
  }
  .button_place_promo {
    margin-top: 72px;
  }
}

.promo {
  min-height: 800px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg//uber_bg.jpg") center center/cover no-repeat;
  padding: 135px 0 186px;
  position: relative;
  top: 50px;
}

.promo__header {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin: 0 0 10px;
}

.promo__subheader {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0 0 21px;
}

.promo__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin: 0 0 28px;
}

@media (max-width: 1199px) {
  .promo {
    padding-bottom: 155px;
  }
  .promo__header {
    font-size: 54px;
    line-height: 54px;
  }
  .promo__subheader {
    font-size: 32px;
    line-height: 38px;
    max-width: 450px;
    margin: 0 auto 21px;
  }
}

@media (max-width: 991px) {
  .promo {
    min-height: 750px;
    padding-bottom: 138px;
  }
  .promo__header {
    font-size: 40px;
    line-height: 40px;
  }
  .promo__subheader {
    font-size: 24px;
    line-height: 32px;
    max-width: 360px;
  }
  .promo__text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .promo {
    top: 32px;
    min-height: 680px;
    padding-bottom: 112px;
  }
  .promo__header {
    font-size: 36px;
    line-height: 36px;
  }
  .promo__subheader {
    font-size: 22px;
    line-height: 28px;
    max-width: 330px;
  }
  .promo__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 575px) {
  .promo {
    min-height: 400px;
    padding: 105px 0 0;
  }
  .promo__header {
    font-size: 30px;
    line-height: 35px;
    max-width: 245px;
    margin: 0 auto 24px;
  }
  .promo__subheader {
    font-size: 20px;
    line-height: 23px;
  }
  .promo__text {
    display: none;
  }
}

.reasons {
  padding: 121px 0 65px 0;
}

.reasons__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.reasons__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}

.reasons__title {
  font-size: 34px;
}

@media (max-width: 767px) {
  .reasons {
    padding-top: 100px;
  }
  .reasons__title {
    font-size: 26px;
  }
}

@media (max-width: 575px) {
  .reasons {
    padding: 52px 0 38px;
  }
  .reasons__title {
    font-size: 16px;
    margin: 16px 0 24px;
  }
}

.reason-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  padding: 0 6px 0 0;
}

.reason-block:nth-of-type(7) {
  margin-bottom: 0;
}

.reason-block:last-of-type {
  margin-bottom: 0;
}

.reason-block__round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 50%;
}

.reason-block__description {
  max-width: 350px;
}

.reason-block__subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

.reason-block__text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  margin: 3px 0 0;
}

@media (max-width: 1199px) {
  .reason-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 6px;
  }
  .reason-block__round {
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .reason-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .reason-block:nth-of-type(7) {
    margin-bottom: 50px;
  }
  .reason-block__round {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .reason-block {
    margin-bottom: 50px;
    padding: 0 14px 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .reason-block__subtitle {
    font-size: 16px;
  }
  .reason-block__round {
    width: 100px;
    height: 100px;
    margin-bottom: 24px;
    margin-right: 0;
  }
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.jpg") center center;
}

.mobile__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.mobile__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.mobile__subtitle {
  margin: 2px 0 0 0;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .mobile__subtitle {
    max-width: 500px;
    margin: 2px auto 30px;
  }
}

@media (max-width: 991px) {
  .mobile__title {
    font-size: 34px;
  }
}

@media (max-width: 991px) {
  .mobile__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .mobile__title {
    font-size: 26px;
  }
  .mobile__subtitle {
    font-size: 15px;
    max-width: 360px;
    margin: 2px auto 30px;
  }
}

@media (max-width: 575px) {
  .mobile {
    padding: 28px 0 13px 0;
  }
  .mobile__title {
    font-size: 16px;
    margin: 16px 0 10px;
  }
  .mobile__subtitle {
    font-size: 14px;
    max-width: 293px;
    margin-bottom: 27px;
  }
}

.mobile-card {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile-card_bg_1 {
  background: url("../img/bg/mobile_bg_1.jpg") center center/cover no-repeat;
}

.mobile-card_bg_2 {
  background: url("../img/bg/mobile_bg_2.jpg") center center/cover no-repeat;
}

.mobile-card_bg_3 {
  background: url("../img/bg/mobile_bg_3.jpg") center center/cover no-repeat;
}

.mobile-card_bg_4 {
  background: url("../img/bg/mobile_bg_4.jpg") center center/cover no-repeat;
}

.mobile-card_bg_5 {
  background: url("../img/bg/mobile_bg_5.jpg") center center/cover no-repeat;
}

.mobile-card_bg_6 {
  background: url("../img/bg/mobile_bg_6.jpg") center center/cover no-repeat;
}

.mobile-card__subtitle {
  color: #fff;
  max-width: 289px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.mobile-card__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.mobile-card__plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile-card__plus:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media (max-width: 1199px) {
  .mobile-card {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) {
  .mobile-card__plus:hover:before, .mobile-card__plus:hover:after {
    background-color: #ff5656;
  }
}

@media (max-width: 575px) {
  .mobile-card {
    width: 290px;
    height: 254px;
  }
  .mobile-card__subtitle {
    font-size: 18px;
    max-width: 200px;
  }
}

.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/bg/mobile_bg.jpg") center center;
}

.choice__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.choice__label_theme_dark {
  z-index: 2;
  position: relative;
  background-color: #fff;
  color: #000;
}

.choice__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.choice__title_theme_dark {
  color: #fff;
  z-index: 2;
  position: relative;
  margin-top: 28px;
}

.choice__subtitle {
  margin: 2px 0 0 0;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.choice__subtitle_theme_dark {
  color: #fff;
  z-index: 2;
  position: relative;
}

.choice__image {
  position: relative;
  display: block;
  margin: 56px auto 0;
  z-index: 2;
}

.choice__description {
  text-align: center;
  color: #222;
  font-size: 17px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 7px;
}

.choice__dark {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

@media (max-width: 991px) {
  .choice__title {
    font-size: 34px;
  }
}

@media (max-width: 991px) {
  .choice {
    min-height: 800px;
    padding-bottom: 123px;
  }
  .choice__subtitle {
    font-size: 16px;
  }
  .choice__image {
    max-width: 700px;
  }
  .choice__description {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .choice {
    min-height: 720px;
    padding-bottom: 100px;
  }
  .choice__title {
    font-size: 26px;
  }
  .choice__subtitle {
    font-size: 15px;
    max-width: 360px;
    margin: 2px auto 30px;
  }
  .choice__image {
    max-width: 530px;
  }
  .choice__description {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .choice {
    padding: 24px 0 31px 0;
    background: none;
    min-height: 393px;
  }
  .choice__title {
    display: none;
  }
  .choice__subtitle {
    display: none;
  }
  .choice__description {
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 17px;
    max-width: 279px;
    margin: 0 auto 6px;
    line-height: 24px;
  }
  .choice__image {
    max-width: 300px;
    margin-top: 36px;
  }
  .choice__dark {
    height: 393px;
  }
}

.require {
  padding: 68px 0 84px 0;
}

.require__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.require__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .require__title {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .require__title {
    font-size: 26px;
  }
}

@media (max-width: 575px) {
  .require {
    padding: 22px 0 30px 0;
  }
  .require__title {
    font-size: 16px;
    margin: 16px 0 0;
  }
}

.require-block {
  margin: 33px 0 7px;
  padding: 0 30px 0 40px;
}

.require-block:nth-of-type(3n) {
  margin-bottom: 0px;
}

.require-block:last-of-type {
  margin-bottom: 0px;
}

.require-block__title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}

.require-block__title_warning {
  color: #ff5656;
}

.require-block__list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 14px;
}

.require-block__list-item {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;
}

.require-block__list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
}

.require-block__list-item_safe:before {
  background: url("../img/icons/check_blue.svg") center center/cover no-repeat;
}

.require-block__list-item_warning:before {
  background: url("../img/icons/check_red.svg") center center/cover no-repeat;
}

.require-block__description {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}

@media (max-width: 575px) {
  .require-block {
    margin: 30px auto 0;
    padding: 0 15px 0 16px;
    max-width: 400px;
  }
  .require-block__title {
    font-size: 16px;
    line-height: 24px;
  }
  .require-block__list {
    padding-left: 32px;
    margin: 5px 0 0;
  }
  .require-block__list-item {
    font-size: 14px;
    line-height: 17px;
  }
  .require-block__list-item::before {
    top: 0;
  }
  .require-block__description {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/bg/world_bg.png") center center/cover no-repeat;
}

.world__label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.world__label_theme_dark {
  z-index: 2;
  position: relative;
  background-color: #fff;
  color: #000;
  width: 76px;
}

.world__title {
  margin: 35px 0 0;
  color: #222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 29px;
}

.world__title_theme_dark {
  color: #fff;
  z-index: 2;
  position: relative;
}

.world__subtitle {
  margin: 2px 0 0 0;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.world__subtitle_theme_dark {
  color: #fff;
  z-index: 2;
  position: relative;
}

.world__link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 22px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.world__link:hover {
  color: #1fbad6;
}

@media (max-width: 991px) {
  .world__title {
    font-size: 34px;
  }
}

@media (max-width: 991px) {
  .world {
    min-height: 450px;
  }
  .world__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .world {
    min-height: 400px;
  }
  .world__title {
    font-size: 26px;
  }
  .world__subtitle {
    font-size: 15px;
    max-width: 360px;
    margin: 2px auto 30px;
  }
  .world__link {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .world__link:hover {
    color: #fff;
  }
}

@media (max-width: 575px) {
  .world {
    padding: 24px 0 29px 0;
    min-height: 360px;
  }
  .world__title {
    font-size: 16px;
    margin: 16px 0 0;
  }
  .world__subtitle {
    font-size: 14px;
    margin: 11px auto 0;
  }
  .world__link {
    line-height: 14px;
    width: 182px;
    bottom: 29px;
  }
}

.footer {
  padding: 14px 23px 39px 23px;
}

.footer__divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer__wrapper {
  padding-top: 32px;
}

@media (max-width: 575px) {
  .footer {
    padding: 24px 18px 30px 19px;
  }
  .footer__wrapper {
    padding-top: 21px;
  }
  .footer__divider {
    width: 255px;
    height: 6px;
  }
}

.navmenu-block {
  max-width: 390px;
  margin: 0 auto;
}

.navmenu-block__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.navmenu-block__main-link {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.navmenu-block__main-link:hover {
  color: #070716;
}

.navmenu-block__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
}

.navmenu-block__sub-link {
  color: #999;
  font-size: 11px;
  line-height: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.navmenu-block__sub-link:hover {
  color: #999;
}

.navmenu-block__lang {
  display: block;
  width: 60px;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.navmenu-block__lang:hover {
  color: #1fbad6;
}

@media (max-width: 575px) {
  .navmenu-block {
    padding: 0;
  }
  .navmenu-block__main {
    padding: 0;
    max-width: 282px;
    margin: 0 auto;
  }
  .navmenu-block__main-link {
    font-size: 14px;
  }
  .navmenu-block__sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 245px;
    margin: 10px auto 0;
    gap: 12px;
  }
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 4px 0;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  color: #fff;
}

.social-block__link:hover {
  color: #fff;
}

@media (max-width: 1199px) {
  .social-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .social-block {
    margin-top: 16px;
  }
}

.mobile-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-block__link {
  margin: 4px 7px 0 0;
}

@media (max-width: 1199px) {
  .mobile-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .mobile-block {
    margin-top: 19px;
  }
  .mobile-block__img {
    height: 24px;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility 0s .4s;
  transition: opacity .4s, visibility 0s .4s;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .6s, visibility 0s;
  transition: opacity .6s, visibility 0s;
}

.popup__container {
  position: relative;
  width: 370px;
  min-height: 135px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.popup__form {
  padding: 54px 36px 37px;
}

.popup__title {
  margin: 0;
  color: #000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 900;
  padding: 34px 36px 0;
  text-align: center;
  text-transform: uppercase;
}

.popup__field {
  width: 100%;
  padding: 0 0 6px;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  outline: none;
}

.popup__field_type_error {
  border-bottom: 1px solid #ff5656;
}

.popup__input-error {
  color: #ff5656;
  font-size: 12px;
  line-height: 13px;
  font-weight: normal;
  display: block;
  min-height: 36px;
  padding-top: 5px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.popup__input-error_active {
  opacity: 1;
}

.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  padding: 0;
  border: none;
  background-image: url(../img/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup__button {
  padding: 0;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: inset 0 -3px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  outline: none;
  display: block;
  position: relative;
  margin: 16px auto 0;
  width: 240px;
  height: 59px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 4px;
}

.popup__button:hover {
  background-image: none;
  background-color: #1eacc7;
}

.popup__button_inactive {
  pointer-events: none;
  background-color: #efefef;
  background-image: none;
  border: 1px solid #000;
  color: #000;
  opacity: .2;
}

@media (max-width: 633px) {
  .popup__container {
    width: 282px;
    min-height: 103px;
  }
  .popup__form {
    padding: 46px 22px 25px;
  }
  .popup__title {
    font-size: 18px;
    line-height: 28px;
    padding: 25px 22px 0;
  }
  .popup__close-button {
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    top: -38px;
    right: 0;
  }
  .popup__button {
    width: 200px;
    height: 45px;
    font-size: 16px;
    line-height: 18px;
  }
}
/*# sourceMappingURL=index.css.map */